@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    background-color:white;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
nav{
    overflow: hidden;

}

.Burger img{
    float: right;
    height: 200px;
    width: 100px;
    background-color: tomato;
    
}


ul{
    width: auto;
    float: right;
    margin-top: 0px;

}

li{
    display: inline-block;
    padding: 15px 30px;
}
.LOGO{
    float: left;
}
.wrapper{
   
margin-top: 10%;
display: flex;
justify-content: center;

}
.wrapper .menu{
     
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    text-align: center;
    padding: 20px;
    border: solid green;
}
.wrapper .menu h3{
    color: tomato;
    margin-top: 30px;
}
    .wrapper .menu image{
        width: 50px;
        height: 50px;
    }
    .wrapper .menu .image img{
        width: 70px;
        height: 70px;
    }